{% extends 'base.html' %}
{% load static %}

{% load i18n %}

{% block title %}
{%trans 'Home' %}
{% endblock %}

{% block content %}
<!-- Hero Section -->
<section id="hero" class="jumbotron jumbotron-fluid text-center bg-danger text-white">
    <div class="container">
        <h1 class="display-4">Welcome to Heros Personal Training</h1>
        <p class="lead">Achieve your fitness goals with personalized training and nutrition plans.</p>
        <a href="{% url 'create_booking' %}" class="btn btn-dark btn-lg" id="hero-btn">Click to book a session!</a>
    </div>
</section>

<!-- About Me Section -->
<section id="about" class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h2>About Me</h2>
                    <p>I am a qualified personal trainer with over 10 years of experience in the fitness industry. My
                        journey has been one of significant transformation—having been both very overweight and very
                        lean, I understand the challenges and dedication required to achieve and maintain fitness goals.
                        <br><br>
                        I offer personalized training and nutrition plans tailored to your unique needs and objectives.
                        My approach is grounded in real-world experience; I've walked the walk, trying every quick fix
                        and fad in the industry. Through this journey, I've learned what truly works and what doesn't,
                        allowing me to provide you with effective and sustainable strategies for success.
                        <br><br>
                        Whether you're looking to lose weight, build muscle, or simply improve your overall health, I am
                        here to guide and support you every step of the way. Let's work together to achieve your fitness
                        goals and transform your life.</p>
                </div>
            </div>
            <div class="col-md-6">
                <img src="{% static 'images/hero.webp' %}" class="img-fluid"
                    alt="Image of Hero's Personal Training">
            </div>
        </div>
    </div>
</section>

<!-- Service Details Section -->
<section id="services" class="py-5 bg-light">
    <div class="container services">
        <h2 class="text-center mb-5">How Our Service Works</h2>
        
        <div class="row mb-4">
            <div class="col-md-6">
                <img src="{% static 'images/nutrition_tracking.webp' %}" class="img-fluid service-img" alt="Nutrition Tracking">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h3>Nutrition Tracking</h3>
                    <p>Track your nutrition with our easy-to-use GoogleSheets. Monitor your intake and get personalized meal plans and macros that fit your goals and lifestyle.</p>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6 order-md-2">
                <img src="{% static 'images/training.webp' %}" class="img-fluid service-img" alt="Training">
            </div>
            <div class="col-md-6 d-flex align-items-center order-md-1">
                <div>
                    <h3>Training</h3>
                    <p>Engage in personalized training sessions designed to help you reach your fitness goals. Our sessions are tailored to your needs, whether you're a beginner or an advanced athlete.</p>
                </div>
            </div>
        </div>

        <div class="row mb-4">
            <div class="col-md-6">
                <img src="{% static 'images/weekly_checkin.webp' %}" class="img-fluid service-img" alt="Weekly Check-in">
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div>
                    <h3>Weekly Check-ins</h3>
                    <p>Stay on track with our weekly check-ins. We'll review your progress, adjust your plan as needed, and provide video feedback.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials" class="py-5">
    <div class="container">
        <h2 class="text-center mb-5">Testimonials</h2>
        <div class="row">
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <p class="card-text">"This training program changed my life. I have never felt stronger and more confident."</p>
                        <hr>
                        <p class="card-title"><strong>John Smith</strong></p>
                        <p class="card-subtitle mb-2 text-muted"><em>John lost 20kg's!</em></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mb-4">
                <div class="card h-100 shadow-sm">
                    <div class="card-body text-center">
                        <p class="card-text">"The personalized approach is exactly what I needed to stay motivated and see results."</p>
                        <hr>
                        <p class="card-title"><strong>Mary Jane</strong></p>
                        <p class="card-subtitle mb-2 text-muted"><em>Busy Mum of three!</em></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Call to Action Section -->
<section id="cta" class="py-5 bg-danger text-white text-center">
    <div class="container">
        <h2>Are you ready to become your own Hero?</h2>
        <p>Click below to schedule your first session.</p>
        <a href="{% url 'create_booking' %}" class="btn btn-dark btn-lg">Book In</a>
    </div>
</section>

{% endblock%}