{% load static %}

<footer class="footer">
    <div class="footer-content">
        <div class="footer-social">
            <a href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Facebook - Opens in new tab">
                <img src="{% static '/icons/facebook-round-color-icon.svg' %}" alt="Facebook Icon" class="social-icon">
            </a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
                <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
            </a>
            <a href="https://ie.linkedin.com/" target="_blank" rel="noopener" aria-label="LinkedIn - Opens in new tab">
                <img src="{% static '/icons/linkedin-app-icon.svg' %}" alt="LinkedIn Icon" class="social-icon">
            </a>
            <a href="https://x.com/?lang=en" target="_blank" rel="noopener" aria-label="Twitter - Opens in new tab">
                <img src="{% static '/icons/twitter-square-color-icon.svg' %}" alt="Twitter Icon" class="social-icon">
            </a>
            <a href="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="Youtube - Opens in new tab">
                <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="Youtube Icon" class="social-icon">
            </a>
        </div>
        <div class="footer-contact">
            <p><strong>Contact Info:</strong></p>
            <p>Phone: <a href="tel:0876573910">0876573910</a></p>
            <p>Email: <a href="mailto:info@herosgymtslc.com">info@herosgymtslc.com</a></p>
            <p><strong>Address:</strong></p>
            <p>Hero's Gym, Trinity Sports and Leisure Center, The Hole In The Wall Road, Dublin 13</p>
        </div>
    </div>
</footer>