{% load static %}

<footer>
    <div class="soical-meida">
        <a href="" target="_blank" rel="noopener" aria-label="Facebook - Opens in new tab">
            <img src="{% static '/icons/facebook-round-color-icon.svg' %}" alt="Facebook Icon" class="social-icon">
        </a>
        <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in new tab">
            <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
        </a>
    </div> 
    <div class="address">
        <address>
            <h5>Address</h5>
            <strong>Heros Gym</strong><br>
            1234 Street Dr.<br>
            City, State, 56789<br>
            
        </address>
    </div>
    <div class="contact">
        <h5>Contact</h5>
        <a href="tel:+1234567890">(123) 456-7890</a><br>
        <a href="mailto:info@company.com">info@company.com</a>
    </div>
    
</footer>