{% load static %}
{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'create_booking' as booking_url %}
{% url 'manage_bookings' as manage_bookings_url %}

<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <h1 id="title">Hero's Personal Training</h1>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page"
              href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == booking_url %}active{% endif %}" aria-current="page" href="{% url 'create_booking' %}">Create Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == manage_bookings_url %}active{% endif %}" aria-current="page" href="{% url 'manage_bookings' %}">Manage Bookings</a>
          </li>
          {% if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == logout_url %}active{% endif %}" aria-current="page"
              href="{% url 'account_logout' %}">Sign out</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link {% if request.path == signup_url %}active{% endif %}" aria-current="page"
              href="{% url 'account_signup' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == login_url %}active{% endif %}" aria-current="page"
              href="{% url 'account_login' %}">Sign In</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
</header>