/* Google Fonts Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Fonts */
    --main-font: 'Montserrat', serif;

    /* Utils */
    --small-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--main-font);
}

main {
    flex: 1 0 auto;
    background-color: white
}

/* Header Styles */
#navbarNav {
    justify-content: flex-end;
}

.navbar {
    box-shadow: var(--small-box-shadow);
}

.active {
    color: #EF9AA4 !important;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: #212529;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    text-align: center;
    border-top: var(--small-box-shadow);
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-social {
    margin-bottom: 20px;
}

.footer-social a {
    display: inline-block;
    border: none;
}

.social-icon, .footer-social .social-icon {
    height: 40px;
    width: 40px;
    margin: 0 10px;
}

.footer-contact {
    text-align: center;
    margin-top: 10px;
}

.footer-contact p, .footer-contact a {
    margin: 5px 0;
    color: white;
}

.footer-contact a {
    text-decoration: none;
}

.footer-contact a:hover {
    text-decoration: underline;
}


/* Main Content Styles */
#hero-btn {
    margin-bottom: 10px;
}


/* Media query for small phones (442px and below) */
@media only screen and (max-width: 442px) {
    #title {
        font-size: 20px;
    }
}

/* Booking Form Styles, Signin Styles, Signup Styles */
#id_date,
#id_contact_number,
#id_contact_email,
#id_additional_info,
#id_login,
#id_password,
#id_username,
#id_email,
#id_email2,
#id_password1,
#id_password2,
select {
    width: 100%;
}

/* Messages Styles */
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    text-align: center;
}

/* Service Styles */
.services {
    text-align: center;
}

.service-img {
    margin-bottom: 10px;
}

/* Testimonials Styles */
#testimonials .card {
    border: none;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

#testimonials .card:hover {
    transform: translateY(-10px);
}

#testimonials .card-body {
    padding: 2rem;
}

#testimonials .card-text {
    font-size: 1.1rem;
    font-style: italic;
}

#testimonials .card-title {
    font-size: 1.25rem;
    margin-top: 1rem;
}

#testimonials .card-subtitle {
    font-size: 1rem;
}